@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proximanova-bold-webfont";
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 0) {
  [class*="col-xs"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 575px) {
  [class*="col-sm"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 768px) {
  [class*="col-md"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  [class*="col-lg"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  [class*="col-xl"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  [class*="col-xxl"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-xxl-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxl-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxl-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xxl-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxl-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxl-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxl-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-xxl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xxl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xxl-offset-3 {
    margin-left: 25%;
  }
  .col-xxl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xxl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xxl-offset-6 {
    margin-left: 50%;
  }
  .col-xxl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xxl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xxl-offset-9 {
    margin-left: 75%;
  }
  .col-xxl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xxl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xxl-offset-12 {
    margin-left: 100%;
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

body {
  background-color: #3a4961;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

[class^="col"] {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  min-height: 1px;
  margin-left: -12px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c9d1de;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c9d1de;
}

.ba-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  width: 100%;
  position: fixed;
  color: #fff;
  top: 0;
  padding: 10px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ba-header--tickets {
  background: none;
}

.ba-header .ba-logo {
  font-size: 35px;
  letter-spacing: 0.07em;
  font-family: "proximanova-bold-webfont";
  text-transform: uppercase;
}

.ba-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.ba-header .menu__item {
  font-size: 20px;
  margin-left: 40px;
  line-height: 30px;
  font-family: "open_sansregular";
  font-weight: 300;
}

.ba-header .menu__item:hover {
  color: #9013fe;
}

.hero {
  position: relative;
  height: 100vh;
  color: #fff;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero--tickets {
  background: none;
}

.hero .social {
  z-index: 10;
  position: fixed;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero .social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .social__item {
  font-size: 30px;
  padding-bottom: 20px;
}

.hero .social__item:hover {
  color: #9013fe;
}

.hero__title {
  font-size: 70px;
  line-height: 1.3;
  padding-bottom: 0.5em;
  font-family: "proximanova-bold-webfont";
}

.hero__tagline {
  font-family: "open_sansregular";
  font-size: 26px;
  padding-left: 4em;
  position: relative;
}

.hero__tagline:before {
  content: "";
  height: 2px;
  width: 95px;
  background-color: #9013fe;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

.hero__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  font-family: "open_sansregular";
  border: 1px solid #fff;
}

.hero__date p {
  padding: 0 30px;
}

.hero__date p:first-of-type {
  border-right: 1px solid #fff;
}

.hero__btn {
  font-family: "open_sansregular";
  line-height: 80px;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
  padding: 0 30px;
  background-color: #fff;
  color: #475265;
  margin-left: 15px;
}

.hero__btn:hover {
  background-color: #e5e5e5;
}

.hero__text {
  font-size: 15px;
  font-family: "open_sansregular";
  line-height: 2;
  margin-bottom: 3em;
  color: #c9d1de;
}

.hero__calendar {
  font-family: "open_sansregular";
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  color: #c9d1de;
}

.hero__calendar p + p {
  margin-left: 14px;
  position: relative;
}

.hero__calendar p + p:before {
  content: "";
  position: absolute;
  background-color: #c9d1de;
  width: 1px;
  height: 18px;
  left: -7px;
  top: calc(50% - 18px / 2);
}

.hero__link {
  font-size: 20px;
  line-height: 2.5;
  font-family: "open_sansregular";
  background-color: #9013fe;
  display: inline-block;
  padding: 5px 15px;
  text-transform: capitalize;
  border-radius: 10px;
}

.hero__link:hover {
  background-color: #fff;
  color: #9013fe;
}

.speakers {
  background-color: #c9d1de;
}

.speakers__title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  padding: 0.7em 0.3em;
  position: relative;
}

.speakers__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px / 2);
  background-color: #9013fe;
}

.speakers__title::after {
  content: attr(data-after);
  font-size: 16px;
  font-family: "open_sansregular";
  color: #9013fe;
  position: absolute;
  top: calc(50% - 8px);
  left: 55%;
}

.speakers__title::before {
  left: 40%;
  height: 1px;
  width: 120px;
}

.speakers__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
}

.speakers__photo img {
  max-width: 100%;
}

.speakers__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.speakers__name {
  font-family: "proximanova-bold-webfont";
  font-size: 30px;
  padding-bottom: 1em;
}

.speakers__speciality {
  font-size: 18px;
  font-family: "open_sansregular";
  color: #4f545c;
  padding-bottom: 1em;
}

.speakers__report {
  font-size: 18px;
  line-height: 1.5;
  font-family: "open_sansregular";
  text-align: justify;
}

.agenda {
  margin-top: -100px;
  padding: 150px 0 150px;
  background-color: #0c1d39;
  color: #fff;
}

.agenda .container {
  position: relative;
}

.agenda__title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  padding: 0.7em 0.3em;
  position: relative;
}

.agenda__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px / 2);
  background-color: #9013fe;
}

.agenda__title::after {
  content: attr(data-after);
  font-size: 16px;
  font-family: "open_sansregular";
  color: #9013fe;
  position: absolute;
  top: calc(50% - 8px);
  left: 55%;
}

.agenda__title::before {
  left: 26%;
  height: 1px;
  width: 250px;
}

.agenda__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #3a4961;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agenda__item--time {
  font-family: "proximanova-bold-webfont";
  font-size: 35px;
  padding: 0 2em 0 3em;
  border-right: 1px solid #3a4961;
}

.agenda__item--name {
  font-family: "open_sansregular";
  font-size: 25px;
  padding-left: 1em;
  color: #c9d1de;
}

.agenda__day {
  background-color: #fff;
  color: #0c1d39;
  position: absolute;
  bottom: -45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  width: 100%;
}

.agenda__day-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  position: relative;
}

.agenda__day-about::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 1px;
  background-color: #9013fe;
  right: 0;
}

.agenda__day-about:last-child::after {
  content: none;
}

.agenda__day-number {
  font-family: "proximanova-bold-webfont";
  font-size: 55px;
}

.agenda__day-name {
  font-size: 17px;
  line-height: 1.5;
  text-transform: uppercase;
}

.agenda__day-link {
  font-family: "open_sansregular";
  line-height: 80px;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
  padding: 0 30px;
  background-color: #9013fe;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.agenda__day-link:hover {
  color: #9013fe;
  background-color: #c9d1de;
}

.venue {
  padding: 150px 0 100px;
  background-color: #c9d1de;
  background-image: url("../img/venue-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: fixed;
}

.venue__wrapper {
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.venue__title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  line-height: 2;
}

.venue__address {
  font-family: "open_sansregular";
  font-size: 18px;
  line-height: 1.5;
  color: #475265;
  padding-bottom: 15px;
}

.venue__text {
  font-family: "open_sansregular";
  color: #475265;
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}

.sponsor {
  background-color: #9013fe;
  color: #fff;
  padding: 50px 0 100px;
}

.sponsor__title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  padding: 0.7em 0.3em;
  position: relative;
}

.sponsor__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px / 2);
  background-color: #9013fe;
}

.sponsor__title::after {
  content: attr(data-after);
  font-size: 16px;
  font-family: "open_sansregular";
  color: #9013fe;
  position: absolute;
  top: calc(50% - 8px);
  left: 55%;
}

.sponsor__title::after {
  color: #fff;
}

.sponsor__wrapper {
  padding: 75px 0;
}

.sponsor__wrapper svg {
  color: inherit;
  fill: currentColor;
  max-width: 100%;
}

.image img {
  max-width: 100%;
}

.about {
  padding: 70px 0;
  color: #fff;
}

.about__item + .about__item {
  margin-top: 50px;
}

.about__title {
  font-family: "proximanova-bold-webfont";
  font-size: 30px;
  line-height: 1.5;
}

.about__text {
  font-family: "open_sansregular";
  font-size: 18px;
  color: #c9d1de;
  line-height: 1.5;
}

.register {
  color: #fff;
  padding-bottom: 70px;
  line-height: 100px;
}

.register__item {
  border-bottom: 1px solid #999999;
}

.register__item input {
  max-width: 50px;
  border: none;
  background: transparent;
  font-size: 18px;
  text-align: center;
  outline: transparent;
  font-family: "open_sansregular";
}

.register__item--center {
  text-align: center;
}

.register__item--last {
  text-align: right;
}

.register__item--last input {
  text-align: right;
}

.register__title {
  font-family: "proximanova-bold-webfont";
  padding-left: 15px;
}

.register__title--big {
  font-size: 30px;
}

.register__title--small {
  font-size: 25px;
}

.register__name {
  font-family: "open_sansregular";
  font-size: 18px;
}

.register__cost {
  font-family: "open_sansregular";
  font-size: 18px;
}

.register__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 50%;
  left: calc(50% - 100px / 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #999999;
  max-width: 100px;
  padding: 5px;
}

.register__count:hover {
  border: 1px solid #fff;
}

.register__btn {
  font-size: 25px;
  font-family: "open_sansregular";
  color: #c9d1de;
  background-color: transparent;
  border: none;
}

.register__checkout {
  border: none;
  background-color: #d2a1fe;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-family: "open_sansregular";
  padding: 12px 60px;
  position: relative;
  right: 0;
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.contact {
  background-color: #0c1d39;
  color: #fff;
  padding: 100px 0;
}

.contact__title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  padding: 0.7em 0.3em;
  position: relative;
  font-size: 40px;
  line-height: 1.3;
}

.contact__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px / 2);
  background-color: #9013fe;
}

.contact__title::after {
  content: attr(data-after);
  font-size: 16px;
  font-family: "open_sansregular";
  color: #9013fe;
  position: absolute;
  top: calc(50% - 8px);
  left: 55%;
}

.contact__title::after {
  content: none;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  border: 1px solid #c9d1de;
  border-left: none;
  border-right: none;
}

.contact__name {
  font-family: "proximanova-bold-webfont";
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.5;
}

.contact__about {
  font-family: "open_sansregular";
  line-height: 1.5;
  color: #c9d1de;
}

.contact__link {
  font-family: "open_sansregular";
  line-height: 80px;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
  padding: 0 30px;
  background-color: #9013fe;
  text-align: center;
}

.contact__form-name {
  font-family: "proximanova-bold-webfont";
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.5;
  padding-top: 2em;
}

.contact__text {
  font-family: "open_sansregular";
  font-style: 17px;
  color: #c9d1de;
  line-height: 1.5;
  padding-bottom: 2em;
}

.contact input {
  background-color: transparent;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  width: 65%;
}

.contact [type="submit"] {
  width: 25%;
  margin-left: 10px;
}

.contact .social {
  position: relative;
}

.contact .social__wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: -15px;
}

.contact .social__item {
  font-size: 25px;
  padding-left: 15px;
}

.contact .social__item:hover {
  color: #9013fe;
}

#map {
  height: 500px;
}

.ba-footer {
  background-color: #9013fe;
  color: #fff;
  font-size: 13px;
  line-height: 3;
  font-family: "open_sansregular";
}
/*# sourceMappingURL=style.css.map */