input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proximanova-bold-webfont";
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "slick.scss";
@import "slick-theme.scss";
@import "animate.scss";

// контейнер по умолчанию. Отступ между колонками
$colGups: 5px;

// размер текста
$textFont-size: 1rem; // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 767px,
  lg: 979px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1700px
);

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
// variables
$mainColor: #444;
$mainBackground: #fff;

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

body {
  background-color: #3a4961;
}
// layout

.row {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

[class^="col"] {
  padding-left: $colGups;
  padding-right: $colGups;
  width: 100%;
  min-height: 1px;
  margin-left: -15px;
}

@include col-create();

@mixin link {
  font-family: "open_sansregular";
  line-height: 80px;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
  padding: 0 30px;
}

@mixin title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  line-height: 2;
  position: relative;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c9d1de;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c9d1de;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.ba-header {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  width: 100%;
  position: fixed;
  color: #fff;
  top: 0;
  padding: 10px;
  background-color: rgba($color: #000, $alpha: 0.7);

  .ba-logo {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.07em;
    font-family: "proximanova-bold-webfont";
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(to right, #c692f3, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav {
    display: none;
  }

  .menu {
    display: flex;
    margin-right: 40px;
    .active {
      color: #d2a1fe;
    }

    &__item {
      font-size: 20px;
      margin-left: 20px;
      line-height: 30px;
      font-family: "open_sansregular";
      font-weight: 300;

      &-link {
        display: inline-block;
        transform-style: preserve-3d;
        perspective: 1000px;
        transform-origin: center center;
        width: 100px;
        height: 40px;

        &-hover {
          position: absolute;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          border-radius: 10px;
          transition: 1s;
          line-height: 40px;
          background-color: rgba(255, 255, 255, 0.05);
          text-align: center;
          width: 100%;
          height: 100%;
        }

        &-hover.menu__item-link--front {
          transform: rotateX(0deg) translateZ(20px);
        }

        &:hover .menu__item-link-hover.menu__item-link--front,
        &:focus .menu__item-link-hover.menu__item-link--front {
          transform: rotateX(-180deg) translateZ(20px);
        }

        &-hover.menu__item-link--back {
          transform: rotateX(180deg) translateZ(20px);
        }

        &:hover .menu__item-link-hover.menu__item-link--back,
        &:focus .menu__item-link-hover.menu__item-link--back {
          transform: rotateX(0deg) translateZ(20px);
        }

        &-hover.menu__item-link--center::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transform: translateZ(-1px);
        }

        &:hover .menu__item-link-hover.menu__item-link--center,
        &:focus .menu__item-link-hover.menu__item-link--center {
          transform: rotateX(-180deg);
        }
      }
    }
  }
}

.hero {
  position: relative;
  height: 100vh;
  color: #fff;
  background: {
    image: url("../img/hero.jpg");
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  display: flex;
  align-items: center;

  &__wrapper {
    border-left: 1px solid #fff;
  }

  .social {
    z-index: 10;
    position: fixed;
    right: 0.5%;
    top: 50%;
    transform: translateY(-50%);

    @keyframes rotation {
      from {
        transform: rotateY(0);
      }

      70% {
        transform: rotateY(0);
      }

      to {
        transform: rotateY(360deg);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__item {
      animation-name: rotation;
      animation-iteration-count: infinite;
      animation-duration: 7s;
      font-size: 30px;
      margin-bottom: 20px;
      background-color: #9013fe;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      border: 2px solid transparent;
      border-radius: 50%;
      &:hover {
        background-color: transparent;
        border: 2px solid #fff;
        transition: 0.75s ease-in;
        animation: none;
      }
    }
  }

  &__title {
    font-size: 70px;
    line-height: 1.3;
    padding-bottom: 0.3em;
    font-family: "proximanova-bold-webfont";
  }

  &__tagline {
    font-family: "open_sansregular";
    font-size: 26px;
    padding-left: 4em;
    position: relative;
    &:before {
      content: "";
      height: 2px;
      width: 95px;
      background-color: #9013fe;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
    }
  }

  &__about {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__date {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    height: 78px;
    line-height: 78px;
    font-family: "open_sansregular";
    border: 1px solid #fff;
    border-radius: 10px;
    p {
      padding: 0 30px;
      &:first-of-type {
        border-right: 1px solid #fff;
      }
    }
  }

  &__btn {
    animation: pulse 2s ease-in-out infinite;
    display: inline-block;
    font-family: "open_sansregular";
    line-height: 80px;
    border-radius: 10px;
    height: 80px;
    font-size: 20px;
    padding: 0 30px;
    background-color: #9013fe;
    margin-left: 15px;
    border: 2px solid transparent;
    &:hover {
      background-color: rgba(22, 22, 22, 0.49);
      border: 2px solid #fff;
      transition: 0.5s ease-in;
    }
  }

  &__text {
    font-size: 26px;
    font-family: "open_sansregular";
    line-height: 1.5;
    margin-bottom: 2em;
    color: #fff;
    padding: 1em;
    background-color: rgba(22, 22, 22, 0.49);
    border-radius: 10px;
    text-align: justify;
  }

  &__calendar {
    font-family: "open_sansregular";
    font-size: 18px;
    display: flex;
    line-height: 1.5;
    color: #c9d1de;

    p + p {
      margin-left: 14px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: #c9d1de;
        width: 1px;
        height: 18px;
        left: -7px;
        top: calc(50% - 18px / 2);
      }
    }
  }

  &__link {
    animation: pulse 2s ease-in-out infinite;
    font-size: 20px;
    line-height: 2.5;
    font-family: "open_sansregular";
    background-color: #9013fe;
    display: inline-block;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid transparent;
    &:hover {
      background-color: rgba(22, 22, 22, 0.49);
      border: 2px solid #fff;
      transition: 0.5s ease-in;
    }
  }
}

.speakers {
  background-color: #c9d1de;

  &__title {
    @include title;
  }

  &__item {
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__photo {
    animation: image 3s ease;
    @keyframes image {
      from {
        opacity: 0;
        transform: translate3d(-30%, 0, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    box-sizing: border-box;
  }

  &__name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    line-height: 1.5;
  }

  &__speciality {
    font-size: 18px;
    font-family: "open_sansregular";
    color: #4f545c;
    padding-bottom: 1em;
  }

  &__report {
    font-size: 18px;
    line-height: 1.5;
    font-family: "open_sansregular";
    text-align: justify;
  }
}

.whatis {
  padding: 20px 0 50px;
  &__title {
    @include title;
    color: #fff;
  }

  .frame_blc {
    overflow: hidden;
    position: relative;
    padding-bottom: 65%;
    padding-top: 30px;
    height: 0;
  }
  .frame_blc iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.agenda {
  margin-top: -100px;
  padding: 150px 0 80px;
  background-color: #0c1d39;
  color: #fff;

  .container {
    position: relative;
  }

  &__title {
    @include title;
  }

  &__wrapper {
    padding-bottom: 60px;
  }

  &__item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #3a4961;
    align-items: center;

    &--time {
      font-family: "proximanova-bold-webfont";
      font-size: 35px;
      padding: 0 2em 0 3em;
      border-right: 1px solid #3a4961;
    }

    &--name {
      font-family: "open_sansregular";
      font-size: 25px;
      padding-left: 1em;
      color: #c9d1de;
    }
  }

  &__day {
    background-color: #fff;
    color: #0c1d39;
    display: flex;
    justify-content: space-between;
    margin-bottom: -150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 80px;
        width: 1px;
        background-color: #9013fe;
        right: 0;
      }

      &:last-child::after {
        content: none;
      }
    }

    &-number {
      font-family: "proximanova-bold-webfont";
      font-size: 55px;
    }

    &-name {
      font-size: 17px;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &-link {
      display: block;
      font-family: "open_sansregular";
      line-height: 80px;
      border-radius: 10px;
      height: 80px;
      font-size: 20px;
      min-width: 250px;
      background-color: #9013fe;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      border: 2px solid transparent;
      &:hover {
        background-color: transparent;
        border: 2px solid #9013fe;
        color: #9013fe;
        transition: 0.5s ease-in;
      }
    }
  }
}

.venue {
  padding: 150px 0 100px;
  background-color: #c9d1de;
  background: {
    image: url("../img/venue-bg.png");
    position: left top;
    repeat: no-repeat;
    size: 50%;
    attachment: fixed;
  }

  &__wrapper {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }

  &__title {
    text-transform: capitalize;
    font-size: 60px;
    font-family: "proximanova-bold-webfont";
    line-height: 2;
  }

  &__address {
    font-family: "open_sansregular";
    font-size: 20px;
    line-height: 1.5;
    color: #475265;
    padding-bottom: 15px;
  }

  &__text {
    font-family: "open_sansregular";
    color: #475265;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
}

.sponsor {
  background-color: #9013fe;
  color: #fff;
  padding: 50px 0 100px;

  &__title {
    @include title;
    &::after {
      color: #fff;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    padding: 35px 0 5px;

    svg {
      color: inherit;
      fill: currentColor;
      width: 100%;
    }
  }
}

.about {
  padding: 70px 0;
  color: #fff;

  &__item + &__item {
    margin-top: 50px;
  }

  &__title {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    line-height: 1.5;
  }

  &__text {
    font-family: "open_sansregular";
    font-size: 18px;
    color: #c9d1de;
    line-height: 1.5;
  }
}

#timer {
  font-size: 20px;
  font-family: "proximanova-bold-webfont";
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  position: fixed;
  top: 72px;
  left: 5px;
  z-index: 5;
}

.register {
  border-top: 1px solid #fff;
  color: #fff;
  padding: 30px 0;
  line-height: 100px;

  &__first-title {
    @include title;
  }

  &__item {
    border-bottom: 1px solid #999999;

    input {
      max-width: 50px;
      border: none;
      background: transparent;
      font-size: 18px;
      text-align: center;
      outline: none;
      font-family: "open_sansregular";
      color: #fff;
    }

    &--center {
      text-align: center;
    }

    &--last {
      text-align: right;
      font-size: 18px;
      font-family: "open_sansregular";

      input {
        text-align: right;
        outline: none;
      }
    }
  }

  &__title {
    font-family: "proximanova-bold-webfont";
    padding-left: 15px;
    &--big {
      font-size: 30px;
    }

    &--small {
      font-size: 25px;
    }
  }

  &__name {
    font-family: "open_sansregular";
    font-size: 18px;
  }

  &__cost {
    font-family: "open_sansregular";
    font-size: 18px;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: calc(50% - 100px / 2);
    transform: translateY(-50%);
    border: 1px solid #999999;
    max-width: 100px;

    padding: 5px;

    &:hover {
      border: 1px solid #fff;
    }
  }

  &__btn {
    font-size: 25px;
    font-family: "open_sansregular";
    color: #c9d1de;
    background-color: transparent;
    border: none;
  }

  &__checkout {
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-family: "open_sansregular";
    padding: 12px 60px;
    position: relative;
    right: 0;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 10px;
    border: 1px solid transparent;
  }
  &__checkout_active {
    background-color: #9013fe;
    border: 1px solid transparent;

    &:hover {

      background-color: transparent;
      border: 1px solid #fff;
      transition: .5s ease-in;
    }
  }
  &__checkout_inactive {
    background-color: #d2a1fe;
    border: 1px solid transparent;
  }
}

.contact {
  background-color: #0c1d39;
  color: #fff;
  padding: 70px 0;

  &__title {
    @include title;
    font-size: 40px;
    line-height: 1.3;
    &::after {
      content: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border: 1px solid #c9d1de;
    border-left: none;
    border-right: none;

    &--tickets {
      justify-content: space-between;
      text-align: center;
    }
  }

  &__item {
    padding: 0;
  }

  &__name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.5;
  }

  &__about {
    font-family: "open_sansregular";
    line-height: 1.5;
    color: #c9d1de;
  }

  &-link {
    position: relative;
  }

  &__link {
    display: block;
    font-family: "open_sansregular";
    line-height: 80px;
    border-radius: 10px;
    height: 80px;
    font-size: 20px;
    background-color: #9013fe;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      background-color: transparent;
      border: 2px solid #fff;
      transition: 0.5s ease-in;
    }
  }

  &__form-name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.5;
    padding-top: 2em;
  }

  &__text {
    font-family: "open_sansregular";
    font-style: 17px;
    color: #c9d1de;
    line-height: 1.5;
    padding-bottom: 2em;
  }

  input {
    background-color: transparent;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    width: 65%;
  }

  [type="submit"] {
    width: 25%;
    margin-left: 10px;
    &:hover {
      background-color: #3a4961;
    }
  }

  .social {
    position: relative;
    &__wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      text-align: center;
      margin-left: -15px;
    }

    &__item {
      font-size: 35px;
      padding-left: 25px;
      &:hover {
        color: #9013fe;
      }
    }
  }
}

#map {
  height: 500px;
}

.ba-footer {
  background-color: #9013fe;
  color: #fff;
  font-size: 13px;
  line-height: 3;
  font-family: "open_sansregular";
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  z-index: 5;
  display: none;
  &-content {
    position: relative;

    .user {
      border-radius: 10px;
      background-color: #0c1d39;
      padding: 10px;
      width: 100%;
      color: #fff;
      text-transform: capitalize;
      font-family: "open_sansregular";
      line-height: 2;

      .error {
        font-size: 15px;
        color: red;
      }

      .ba-form-error {
        display: none;
        color: red;
        font-size: 18px;
      }

      label {
        padding-left: 1em;
        font-size: 22px;
      }

      &__input {
        display: flex;
        justify-content: center;
      }

      input {
        background-color: transparent;
        padding: 15px 10px;
        font-size: 20px;
        border-radius: 5px;
        color: #fff;
        width: 95%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #fff;
        outline: transparent;

        &:active {
          background-color: transparent;
        }
      }

      &__message {
        margin-top: 10px;
        background-color: transparent;
        padding: 15px 10px;
        font-size: 19px;
        height: 4.5em;
        border-radius: 5px;
        color: #fff;
        width: 95%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #fff;
        resize: none;
      }

      [type="reset"],
      [type="submit"] {
        width: 30%;
        padding: 15px 0;
        left: 20%;
        transform: translateX(0);
        margin-right: 5px;
      }
    }
  }
}
