@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proximanova-bold-webfont";
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// контейнер по умолчанию. Отступ между колонками
$container: 1100px;
$colGups: 5px;

// размер текста
$textFont-size: 1rem; // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
  xs: 0,
  sm: 575px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1440px
);

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}
// variables
$mainColor: #444;
$mainBackground: #fff;

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

body {
  background-color: #3a4961;
}
// layout

.row {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

[class^="col"] {
  padding-left: $colGups;
  padding-right: $colGups;
  width: 100%;
  min-height: 1px;
  margin-left: -12px;
}

@include col-create() 

@mixin link {
  font-family: "open_sansregular";
  line-height: 80px;
  border-radius: 10px;
  height: 80px;
  font-size: 20px;
  padding: 0 30px;
}

@mixin title {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "proximanova-bold-webfont";
  padding: 0.7em 0.3em;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px / 2);
    background-color: #9013fe;
  }
  &::after {
    content: attr(data-after);
    font-size: 16px;
    font-family: "open_sansregular";
    color: #9013fe;
    position: absolute;
    top: calc(50% - 8px);
    left: 55%;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9d1de;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c9d1de;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c9d1de;
}

.ba-header {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  width: 100%;
  position: fixed;
  color: #fff;
  top: 0;
  padding: 10px;
  background: {
    image: url("../img/header-bg.jpg");
    size: cover;
    repeat: no-repeat;
  }

  &--tickets {
    background: none;
  }

  .ba-logo {
    font-size: 35px;
    letter-spacing: 0.07em;
    font-family: "proximanova-bold-webfont";
    text-transform: uppercase;
  }

  .menu {
    display: flex;
    margin-right: 40px;
    &__item {
      font-size: 20px;
      margin-left: 40px;
      line-height: 30px;
      font-family: "open_sansregular";
      font-weight: 300;
      &:hover {
        color: #9013fe;
      }
    }
  }
}

.hero {
  &--tickets {
    background: none; 
  }

  position: relative;
  height: 100vh;
  color: #fff;
  background: {
    image: url("../img/hero.jpg");
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }

  display: flex;
  align-items: center;

  .social {
    z-index: 10;
    position: fixed;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__item {
      font-size: 30px;
      padding-bottom: 20px;
      &:hover {
        color: #9013fe;
      }
    }
  }

  &__title {
    font-size: 70px;
    line-height: 1.3;
    padding-bottom: 0.5em;
    font-family: "proximanova-bold-webfont";
  }

  &__tagline {
    font-family: "open_sansregular";
    font-size: 26px;
    padding-left: 4em;
    position: relative;
    &:before {
      content: "";
      height: 2px;
      width: 95px;
      background-color: #9013fe;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
    }
  }

  &__about {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__date {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    font-family: "open_sansregular";
    border: 1px solid #fff;
    p {
      padding: 0 30px;
      &:first-of-type {
        border-right: 1px solid #fff;
      }
    }
  }

  &__btn {
    @include link;
    background-color: #fff;
    color: #475265;
    margin-left: 15px;
    &:hover {
      background-color: #e5e5e5;
    }
  }

  &__text {
    font-size: 15px;
    font-family: "open_sansregular";
    line-height: 2;
    margin-bottom: 3em;
    color: #c9d1de;
  }

  &__calendar {
    font-family: "open_sansregular";
    font-size: 18px;
    display: flex;
    line-height: 1.5;
    color: #c9d1de;

    p + p {
      margin-left: 14px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: #c9d1de;
        width: 1px;
        height: 18px;
        left: -7px;
        top: calc(50% - 18px / 2);
      }
    }
  }

  &__link {
    font-size: 20px;
    line-height: 2.5;
    font-family: "open_sansregular";
    background-color: #9013fe;
    display: inline-block;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 10px;

    &:hover {
      background-color: #fff;
      color: #9013fe;
    }
  }
}

.speakers {
  background-color: #c9d1de;

  &__title {
    @include title;
    &::before {
      left: 40%;
      height: 1px;
      width: 120px;
    }
  }

  &__item {
    justify-content: space-between;
    position: relative;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__photo {
    img {
      max-width: 100%;
    }
  }

  &__info {
    box-sizing: border-box;
  }

  &__name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    padding-bottom: 1em;
  }

  &__speciality {
    font-size: 18px;
    font-family: "open_sansregular";
    color: #4f545c;
    padding-bottom: 1em;
  }

  &__report {
    font-size: 18px;
    line-height: 1.5;
    font-family: "open_sansregular";
    text-align: justify;
  }
}

.agenda {
  margin-top: -100px;
  padding: 150px 0 150px;
  background-color: #0c1d39;
  color: #fff;

  .container {
    position: relative;
  }

  &__title {
    @include title;
    &::before {
      left: 26%;
      height: 1px;
      width: 250px;
    }
  }

  &__item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #3a4961;
    align-items: center;

    &--time {
      font-family: "proximanova-bold-webfont";
      font-size: 35px;
      padding: 0 2em 0 3em;
      border-right: 1px solid #3a4961;
    }

    &--name {
      font-family: "open_sansregular";
      font-size: 25px;
      padding-left: 1em;
      color: #c9d1de;
    }
  }

  &__day {
    background-color: #fff;
    color: #0c1d39;
    position: absolute;
    bottom: -45%;
    transform: translateY(-45%);
    width: 100%;

    &-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 80px;
        width: 1px;
        background-color: #9013fe;
        right: 0;
      }

      &:last-child::after {
        content: none;
      }
    }

    &-number {
      font-family: "proximanova-bold-webfont";
      font-size: 55px;
    }

    &-name {
      font-size: 17px;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &-link {
      @include link;
      background-color: #9013fe;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      &:hover {
        color: #9013fe;
        background-color: #c9d1de;
      }
    }
  }
}

.venue {
  padding: 150px 0 100px;
  background-color: #c9d1de;
  background: {
    image: url("../img/venue-bg.png");
    position: left top;
    repeat: no-repeat;
    size: 50%;
    attachment: fixed;
  }

  &__wrapper {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }

  &__title {
    text-transform: capitalize;
    font-size: 60px;
    font-family: "proximanova-bold-webfont";
    line-height: 2;
  }

  &__address {
    font-family: "open_sansregular";
    font-size: 18px;
    line-height: 1.5;
    color: #475265;
    padding-bottom: 15px;
  }

  &__text {
    font-family: "open_sansregular";
    color: #475265;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
  }
}

.sponsor {
  background-color: #9013fe;
  color: #fff;
  padding: 50px 0 100px;

  &__title {
    @include title;
    &::after {
      color: #fff;
    }
  }

  &__wrapper {
    padding: 75px 0;

    svg {
      color: inherit;
      fill: currentColor;
      max-width: 100%;
    }
  }
}

.image {
  img {
    max-width: 100%;
  }
}

.about {
  padding: 70px 0;
  color: #fff;

  &__item + &__item {
    margin-top: 50px;
  }

  &__title {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    line-height: 1.5;
  }

  &__text {
    font-family: "open_sansregular";
    font-size: 18px;
    color: #c9d1de;
    line-height: 1.5;
  }
}

.register {
  color: #fff;
  padding-bottom: 70px;
  line-height: 100px;

  &__item {
    border-bottom: 1px solid #999999;

    input {
      max-width: 50px;
      border: none;
      background: transparent;
      font-size: 18px;
      text-align: center;
      outline: transparent;
      font-family: "open_sansregular";
    }

    &--center {
      text-align: center;
    }

    &--last {
      text-align: right;

      input {
        text-align: right;
      }
    }
  }

  &__title {
    font-family: "proximanova-bold-webfont";
    padding-left: 15px;
    &--big {
      font-size: 30px;
    }

    &--small {
      font-size: 25px;
    }
  }

  &__name {
    font-family: "open_sansregular";
    font-size: 18px;

  }

  &__cost {
    font-family: "open_sansregular";
    font-size: 18px;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: calc(50% - 100px / 2);
    transform: translateY(-50%);
    border: 1px solid #999999;
    max-width: 100px;
    padding: 5px;

    &:hover {
      border: 1px solid #fff;
    }
  }

  &__btn {
    font-size: 25px;
    font-family: "open_sansregular";
    color: #c9d1de;
    background-color: transparent;
    border: none;
  }

  &__checkout {
    border: none;
    background-color: #d2a1fe;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-family: "open_sansregular";
    padding: 12px 60px;
    position: relative;
    right: 0;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }

}

.contact {
  background-color: #0c1d39;
  color: #fff;
  padding: 100px 0;

  &__title {
    @include title;
    font-size: 40px;
    line-height: 1.3;
    &::after {
      content: none;
    }
  }

  &__wrapper {
    display: flex;
    padding: 25px 0;
    border: 1px solid #c9d1de;
    border-left: none;
    border-right: none;
  }

  &__name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.5;
  }

  &__about {
    font-family: "open_sansregular";
    line-height: 1.5;
    color: #c9d1de;
  }

  &__link {
    @include link;
    background-color: #9013fe;
    text-align: center;
  }

  &__form-name {
    font-family: "proximanova-bold-webfont";
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.5;
    padding-top: 2em;
  }

  &__text {
    font-family: "open_sansregular";
    font-style: 17px;
    color: #c9d1de;
    line-height: 1.5;
    padding-bottom: 2em;
  }

  input {
    background-color: transparent;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    width: 65%;
  }

  [type="submit"] {
    width: 25%;
    margin-left: 10px;
  }

  .social {
    position: relative;
    &__wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      text-align: center;
      margin-left: -15px;
    }

    &__item {
      font-size: 25px;
      padding-left: 15px;
      &:hover {
        color: #9013fe;
      }
    }
  }
}

#map {
  height: 500px;
}

.ba-footer {
  background-color: #9013fe;
  color: #fff;
  font-size: 13px;
  line-height: 3;
  font-family: "open_sansregular";
}
